@import "../variables.scss";

$bezier: cubic-bezier(0.94, 0.37, 0.5, 0.97);
$intro-anim-time: 1.5s;
$fog-anim-time: 2s;

img {
  object-fit: cover;
}

#sign-lock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(
    0deg,
    rgb(4, 2, 5),
    rgb(48, 21, 45),
    rgb(101, 116, 145)
  );

  overflow: hidden;

  @keyframes sign-in-fade {
    0% {
      transform: translateY(-1vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0vh);

      opacity: 1;
    }
  }

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-size: 5rem;

  //background: linear-gradient(60deg, rgb(0, 151, 161), rgb(199, 151, 48));
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #parallax-sky {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    min-height: 30vh;
    min-width: 100vw;

    //animation: sky-appear 2s ease forwards;
    @keyframes sky-appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  #parallax-back {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    min-height: 55vh;

    width: 100vw;

    //animation: intro1 $intro-anim-time $bezier forwards;
    @keyframes intro1 {
      0% {
        top: 0;
      }

      100% {
        top: -5vh;
        left: 0vw;
      }
    }
  }

  #parallax-middle {
    z-index: 10;
    height: auto;
    min-height: 80vh;

    width: 100vw;

    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    top: 25vh;
    left: 0vw;

    //animation: intro2 $intro-anim-time $bezier forwards;
    @keyframes intro2 {
      0% {
        top: 25vh;
      }

      100% {
        top: 18vh;
      }
    }
  }

  #parallax-front {
    z-index: 19;
    height: auto;
    min-height: 40vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    top: 60vh;
    left: 0vw;

    //animation: intro3 $intro-anim-time $bezier forwards;
    @keyframes intro3 {
      0% {
        top: 90vh;
      }

      100% {
        top: 60vh;
      }
    }
  }

  #fog {
    z-index: 18;
    position: absolute;
    left: -10vw;
    bottom: -20vh;
    height: 70vh;
    width: 120vw;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );

    opacity: 0;
    animation: fog-appear 3s ease-out $intro-anim-time forwards,
      fog-breath $fog-anim-time ease-in-out alternate
        calc(#{$intro-anim-time} + #{$fog-anim-time}) infinite;
    @keyframes fog-appear {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes fog-breath {
      0% {
        opacity: 0;
      }
      1% {
        opacity: 1;
      }
      3% {
        opacity: 1;
      }
      4% {
        opacity: 0;
      }

      50% {
        opacity: 0;
      }

      51% {
        opacity: 1;
      }
      53% {
        opacity: 1;
      }
      54% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  }

  #spotlight {
    z-index: 16;
    position: absolute;
    left: 10vw;
    bottom: 5vh;
    height: 1.3vh;
    width: 9vw;
    transform-origin: center right;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
    filter: blur(3px);
    transform: rotate(45deg) perspective(100px) rotateY(30deg);

    opacity: 0;
    animation: spotlight-appear 1s ease $intro-anim-time,
      spotlight-loop 4s ease-in-out calc(#{$intro-anim-time} + 0.7s) alternate
        infinite;
    @keyframes spotlight-appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes spotlight-loop {
      0% {
        opacity: 1;

        transform: rotate(45deg) perspective(100px) rotateY(30deg);
      }
      100% {
        opacity: 1;

        transform: rotate(120deg) perspective(100px) rotateY(30deg);
      }
    }
  }

  // TEE NÄÄ VÄHEMMÄKSI KOODIKSI
  #spotlight-2 {
    z-index: 16;
    position: absolute;
    left: 20vw;
    bottom: 5vh;
    height: 1vh;
    width: 9vw;
    transform-origin: center right;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
    filter: blur(3px);
    transform: rotate(120deg) perspective(100px) rotateY(30deg);

    opacity: 0;
    animation: spotlight-appear 1s ease $intro-anim-time,
      spotlight-loop2 4s ease-in-out calc(#{$intro-anim-time} + 1s) alternate
        infinite;
    @keyframes spotlight-appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes spotlight-loop2 {
      0% {
        opacity: 1;

        transform: rotate(120deg) perspective(100px) rotateY(30deg);
      }
      100% {
        opacity: 1;

        transform: rotate(45deg) perspective(100px) rotateY(30deg);
      }
    }
  }

  .signmenu {
    //animation: sign-in-fade 1s ease forwards;
    //animation-delay: $login-between-delay * 1;

    text-shadow: 0 0 10px #ffffff;

    z-index: 20;

    position: absolute;
    left: 25vw;
    top: 20vh;
    width: 50vw;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10vh;
    border: 2px solid white;
    display: grid;
    place-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);

    //transition: $transition-a;

    span {
      //animation: $login-start-animations;
      //animation-delay: $login-between-delay * 2;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }

    //SVG
    svg {
      z-index: 21;
      margin-top: 4vh;
      font-size: 4rem;
      width: 13vw;
      height: 13vh;
      stroke: black;
      ////animation: $login-start-animations;
      //animation-delay: $login-between-delay * 7;

      #svg-lock {
        z-index: 21;
        #avain {
          -webkit-filter: drop-shadow(0px 0px 0.5px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 0.5px rgb(255, 255, 255));
          transition: $transition-a;
          transform-origin: center;
        }

        #lukko {
          -webkit-filter: drop-shadow(0px 0px 0.5px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 0.5px rgb(255, 255, 255));
          transform-origin: center;

          transition: all 0.2s ease;

          #ulukko {
            transition: $transition-a;
          }
        }
      }
    }

    svg:hover {
      transform: scale(1.1);
      #svg-lock {
        #avain {
          stroke: white;
          -webkit-filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));

          transform: translateY(0.3vh) translateX(0.1vw) rotate(10deg);
        }

        #lukko {
          -webkit-filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
          transform: translateX(-0.1vw) rotate(5deg);
          #ulukko {
            color: white;
            transform: translateY(-0.2vh);
          }
        }
      }
    }

    #signin-button {
      //tää on jätetty tähän jotta enterillä voi submittaa myös
      opacity: 0;
    }

    #signin-button:hover {
      transform-origin: left;
      transform: scale(1.3);
      background-color: rgba(255, 255, 255, 1);
      transform-origin: center;

      box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    }

    .username-input-container {
      padding-top: 2vh;

      font-size: 2rem;
      height: 12vh;
      width: 30vw;
      display: grid;
      place-items: center;
      //animation: $login-start-animations;
      //animation-delay: $login-between-delay * 3;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */

      #username-input {
        //animation: $login-start-animations;
        //animation-delay: $login-between-delay * 4;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: $border-radius-a;
        border-style: none;
        text-align: center;
        font-family: "Noto Sans Mono", monospace;
        box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.3s ease;
        transform: scale(1);
      }

      #username-input:hover {
        background-color: rgba(255, 255, 255, 1);

        transform: scale(1.05);

        box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
      }

      #username-input:focus {
        outline: none;
      }
    }

    .password-input-container {
      padding-top: 2vh;
      font-size: 2rem;
      height: 12vh;
      width: 30vw;
      display: grid;
      place-items: center;

      //animation: $login-start-animations;

      //animation-delay: $login-between-delay * 5;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      #password-input {
        //animation: $login-start-animations;
        //animation-delay: $login-between-delay * 6;

        width: 100%;
        height: 100%;
        font-size: 1.1rem;

        background-color: rgba(255, 255, 255, 0.6);

        border-radius: $border-radius-a;
        border-style: none;
        text-align: center;
        font-family: "Noto Sans Mono", monospace;
        box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.3s ease;
        transform: scale(1);
      }

      #password-input:hover {
        background-color: rgba(255, 255, 255, 1);

        transform: scale(1.05);
        box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 5px 12px 19px 0px rgba(0, 0, 0, 0.6);
      }
      #password-input:focus {
        outline: none;
      }
    }
  }

  .signmenu:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .lowbar-container {
    font-size: 2rem;
    width: 140vw;
    height: 40vh;
    position: absolute;
    bottom: -40vh;
    right: -4vw;
    background-color: white;
    transform: rotate(-3deg);
    z-index: 999;

    padding-right: 22vw;
    padding-top: 0vh;

    text-align: end;
    transition: $transition-a;

    //animation: lowbar-start 1s ease forwards;
    //tulee tahallaan jäljessä
    //animation-delay: 3s;

    .feather {
      transition: $transition-a;
      transform: rotate(0);
    }

    div {
      margin-top: 6vh;
      transition: $transition-a;

      a {
        svg {
          height: 7vh;
          width: 7vw;
          fill: black;
          transition: $transition-a;
        }
      }
    }
  }

  .lowbar-container:hover {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    padding-top: 1vh;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;

    .feather {
      transform: rotate(-390deg);
    }

    div {
      margin-top: 0vh;

      a {
        svg {
          height: 7vh;
          width: 7vw;
          fill: white;
          transform: rotate(-15deg);
        }

        svg:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
