@import "./variables.scss";

///////////////////////////////////////////////////////
//                  4k support                       //
///////////////////////////////////////////////////////

@media screen and (min-width: 2100px) {
  .all-container {
    button {
      border-radius: 0.2vw;
    }

    .sticky-nav {
      .topbar {
        .progressbar-container {
          .progressbar {
            border-radius: 0.6vw;
          }
        }
      }
      #version-label {
        top: 10vh;
      }
    }

    .songs-container {
      .singlesong-container {
        button {
          height: 100%;
          font-size: 2.9rem;
        }
        .make-next-button {
          border-radius: 0.15vw;
        }
      }
    }
  }
}
