@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

.long-names {
  //pitkät biisien nimet ei rivity
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.App {
  background-color: black;
}

.all-container {
  background-color: black;
  color: white;
  //overflow: hidden;
  width: 99vw;
  opacity: 0;
  animation: fadein 1s ease forwards;

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  button {
    font-size: 2.5rem;
    padding: 0vw 1vw 0vh 1vw;
    border-style: none;
    border-radius: $border-radius-a;

    transition: $transition-a;
    transform: scale(1);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.65);
  }

  button:hover {
    transform-origin: left;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 1);
  }
}
