* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

$transition-a: all 0.4s ease;
$border-radius-a: 1vh;
$topbar-height: 4.35rem;
$topbar-height-mob: 15vh;

@mixin debuggi($color) {
  border: 1px solid $color;
}
//usage :   @include debuggi(red);

.long-names {
  //pitkät biisien nimet ei rivity
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

//
//SING IN
#sign-lock {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-size: 5rem;

  //background: linear-gradient(60deg, rgb(0, 151, 161), rgb(199, 151, 48));
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  .login-filter {
    height: 300vh;
    width: 300vh;
    border-radius: 100%;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(21, 235, 92, 0.1),
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0)
    );
    position: absolute;
    top: -20vh;
    left: -40vw;
    transform-origin: center;
    z-index: 1;

    animation: movearound 5s ease-in-out alternate infinite;
    @keyframes movearound {
      0% {
        transform: translateX(0vw) translateY(0vh) scaleX(1);
      }
      33% {
        transform: translateX(80vw) translateY(10vh) scaleX(1.2);
      }

      65% {
        transform: translateX(0vw) translateY(50vh) scaleX(1.6);
      }
      100% {
        transform: translateX(30vw) translateY(40vh) scaleX(1);
      }
    }
  }

  .filter-a {
    animation: movearound 13s ease-in-out alternate infinite;
  }

  .filter-b {
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(6, 52, 180, 0.2),
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0)
    );
    top: -150vh;
    left: -150vw;
    animation: movearound 15s ease-in-out alternate infinite;
    animation-delay: 3s;
  }

  #wallpaper-login {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    object-fit: cover;
    opacity: 1;
  }

  .signmenu {
    text-shadow: 0 0 10px #ffffff;

    z-index: 2;

    position: absolute;
    left: 25vw;
    top: 20vh;
    width: 50vw;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10vh;
    border: 2px solid white;
    display: grid;
    place-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);

    #signin-button {
      margin-top: 6vh;

      font-size: 2rem;
      padding: 1vw 3vw 1vh 3vw;
      border-style: none;
      border-radius: $border-radius-a;
      transition: $transition-a;
      transform: scale(1);
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.65);
      transform-origin: center;

      box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 0.75);
    }

    #signin-button:hover {
      transform-origin: left;
      transform: scale(1.3);
      background-color: rgba(255, 255, 255, 1);
      transform-origin: center;

      box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 5px 18px 48px 0px rgba(0, 0, 0, 1);
    }

    .username-input-container {
      padding-top: 1vh;

      font-size: 2rem;
      height: 12vh;
      width: 30vw;
      display: grid;
      place-items: center;

      #username-input {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        border-radius: $border-radius-a;
        border-style: none;
        text-align: center;
        font-family: "Noto Sans Mono", monospace;
        box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.3s ease;
        transform: scale(1);
      }

      #username-input:hover {
        transform: scale(1.05);

        box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
      }

      #username-input:focus {
        outline: none;
      }
    }

    .password-input-container {
      padding-top: 1vh;
      font-size: 2rem;
      height: 12vh;
      width: 30vw;
      display: grid;
      place-items: center;

      #password-input {
        width: 100%;
        height: 100%;
        font-size: 1.1rem;

        border-radius: $border-radius-a;
        border-style: none;
        text-align: center;
        font-family: "Noto Sans Mono", monospace;
        box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.3s ease;
        transform: scale(1);
      }

      #password-input:hover {
        transform: scale(1.05);
        box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 5px 12px 29px 0px rgba(0, 0, 0, 1);
      }
      #password-input:focus {
        outline: none;
      }
    }
  }
}

.App {
  background-color: black;
}

.all-container {
  background-color: black;
  color: white;
  //overflow: hidden;
  width: 100vw;
  opacity: 0;
  animation: fadein 1s ease forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  button {
    font-size: 2.5rem;
    padding: 0vw 1vw 0vh 1vw;
    border-style: none;
    border-radius: $border-radius-a;

    transition: $transition-a;
    transform: scale(1);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.65);
  }

  button:hover {
    transform-origin: left;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 1);
  }

  //
  //TOP BAR
  .sticky-nav {
    //overflow: hidden;

    position: sticky;
    top: 0;
    left: 0;
    font-size: 3rem;
    width: 99vw;
    height: 4.5rem;

    background-color: black;
    opacity: 0.9;
    z-index: 5;

    .topbar {
      background-color: black;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100vw;
      height: $topbar-height;
      z-index: 2;
      display: flex;
      align-items: center;

      .progressbar-container {
        width: 77vw;
        height: $topbar-height;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;

        .progressbar {
          background: linear-gradient(90deg, rgb(0, 0, 0), rgb(4, 178, 209));
          position: absolute;
          top: 0;
          left: -115vw;
          width: 77vw;
          height: calc(#{$topbar-height});
          z-index: 4;
          border-radius: 2vh;
          transition: $transition-a;

          filter: blur(3px);
          border: 6px solid rgba(165, 32, 61, 0.7);

          animation: progressbar-glow 2s alternate infinite;
          @keyframes progressbar-glow {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.8;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }

      button {
        z-index: 9;
        height: auto;
        transform-origin: center;

        background-color: rgba(255, 255, 255, 1);
        opacity: 1;

        margin-left: 1vw;
      }

      #next-button {
        margin-left: 2vw;
      }

      #songname-topbar {
        z-index: 6;
        position: absolute;
        top: 0vh;
        left: 23vw;
        margin-left: 2vw;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 12vh;
        width: 50000vw;
        white-space: pre-wrap;

        animation: scrolltitle 2000s ease infinite;

        @keyframes scrolltitle {
          0% {
            left: 23vw;
          }
          100% {
            left: -2300vw;
          }
        }
      }

      #songname-fade-left {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        height: 4.35rem;
        width: 40vw;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 7;
      }
    }

    .search-input {
      position: absolute;
      right: 1vw;
      top: calc(#{$topbar-height} + 3rem);
      width: 5vw;

      font-size: 1.1rem;
      transition: all 0.5s ease;
      text-align: center;
      border: none;
      border-radius: 0.2vw;
    }

    .search-input:hover {
      width: 40vw;
      font-size: 3rem;
    }

    #logout-button {
      position: absolute;
      right: 1vw;
      top: calc(#{$topbar-height} + 0.3rem);
      font-size: 1.1rem;
      border-radius: 0.2vw;
      padding: 0.2vh 0.2vw 0.2vh 0.2vw;
      transform-origin: center;
      width: 5vw;

      transition: all 0.5s ease;
    }

    .topbar-fade-down {
      width: 100vw;
      height: 2rem;
      position: absolute;
      top: calc(#{$topbar-height} + 0.15rem);
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      //jotta ei tule biisien klikkailun eteen
      pointer-events: none;
    }

    #playqueue {
      padding-top: calc(#{$topbar-height + 1.4rem});
      padding-left: 1vw;
      padding-bottom: 1vh;

      //automaattisesti laskee alas mustaa gradientverhoa lisätessä queueen!
      height: auto;

      width: 30vw;
      margin-left: 68vw;
      font-size: 1rem;
      z-index: 10;
      text-shadow: 0 0 12px #000000;

      .queue-container {
        display: flex;
        flex-direction: row;
      }

      .queue-song-container {
        display: flex;
        align-items: center;
      }

      .delete-queue-hamburger {
        width: 1vw;
        height: 1vw;
        display: flex;

        margin-left: 0.7vw;
        padding-right: 0vw;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        color: white;

        .burger-line {
          border-radius: 0.3vw;
        }

        aside {
          width: 100%;
          height: 0.1vh;
          background-color: rgba(255, 255, 255, 0.5);
          transform-origin: center;
          transition: all 0.4s ease;
          transform: scale(1);
        }
      }

      .delete-queue-hamburger:hover {
        aside {
          &:first-child {
            height: 3px;
            background-color: crimson;
            transform: rotate(45deg) scale(1.2);
          }

          &:last-child {
            height: 3px;

            background-color: crimson;
            transform: translateY(-3px) rotate(-45deg) scale(1.2);
          }
        }
      }
    }

    #emptyqueue {
      color: rgba(255, 255, 255, 0.5);
    }

    .addsong-transition-enter {
      position: absolute;
      opacity: 0;
      top: 100vh;
      left: 0;
      transition: $transition-a;
    }
    .addsong-transition-enter-active {
      position: absolute;
      opacity: 1;
      top: 0vh;
      left: 0vw;
      transition: $transition-a;
    }
    .addsong-transition-enter-done {
      position: absolute;
      opacity: 1;
      top: 0vh;
      left: 0vw;
      transition: $transition-a;
    }

    .addsong-transition-exit {
      position: absolute;
      opacity: 1;
      top: 0vh;
      left: 0vw;
      transition: $transition-a;
    }
    .addsong-transition-exit-active {
      position: absolute;
      opacity: 0;
      top: 100vh;
      left: 0;
      transition: $transition-a;
    }

    .addsong-container {
      overflow: hidden;
      background-color: black;
      display: flex;
      justify-content: space-between;
      margin-top: 4.4rem;

      border-radius: 0 0 1vh 1vh;

      font-size: 3rem;

      width: 98vw;
      padding-right: 2vw;

      .addsong-controls {
        padding-top: 2vh;
        padding-bottom: 2vh;

        font-size: 3rem;

        //border: 2px solid red;
        background-color: black;
        position: sticky;
        top: 0;
        left: 0;
        height: auto;
        width: 90vw;

        z-index: 20;

        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          background-color: rgba(255, 255, 255, 0.25);

          width: 70vw;
          font-size: 2rem;
          transition: all 0.5s ease;
          border-radius: $border-radius-a;
          cursor: pointer;
        }

        input:hover {
          background-color: rgba(255, 255, 255, 0.95);
        }

        .line {
          margin: 4vh 5vw 3vh 5vw;

          border: 0;
          height: 3px;
          width: 60vw;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(255, 255, 255, 0.65),
            rgba(0, 0, 0, 0)
          );
        }
      }
    }
  }

  //
  //SONGS LIST
  .songs-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;

    min-height: 500vh;

    background: linear-gradient(
      0deg,
      rgb(105, 43, 35),
      rgb(43, 124, 86),
      rgb(146, 137, 85),
      rgb(42, 107, 128),
      rgb(160, 61, 61),
      rgb(146, 137, 85),
      rgb(105, 43, 35),
      rgb(42, 107, 128),
      rgb(160, 61, 61),
      rgb(0, 0, 0)
    );
    padding-bottom: 10vh;

    .singlesong-container {
      margin: 0 0 1vh 2vw;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 0;
      width: auto;
      animation: slidein 0.2s ease-in-out forwards;
      opacity: 0;
      @keyframes slidein {
        0% {
          margin-left: 101vw;
          opacity: 1;
        }
        100% {
          maring-left: 2vw;
          opacity: 1;
        }
      }

      button:focus {
        //none = kauniimpi,  mutta näppiksen käyttö helpottuu defaulttina!
        //outline: none;
      }
      span {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
      }

      .selected {
        transform-origin: left;
        background-color: rgb(0, 0, 0);
        color: white;
        transform: scale(1.2);
        //text-align: left;
        //margin-left: -2vw;
        //padding-right: 1vw;
      }

      .make-next-button {
        border-radius: 0.7vh;
        font-size: 0.9rem;
        margin-left: 0.4vw;
        margin-right: 3vw;
        padding: 5px 5px 5px 5px;
        background-color: rgba(255, 255, 255, 0.3);
        color: rgba(0, 0, 0, 0.5);
        transform-origin: center;
        z-index: 1;
        cursor: pointer;
        transition: all 0.28s ease;
      }

      .make-next-button:hover {
        background-color: rgba(255, 255, 255, 1);
        transform: scale(1.4);
        color: black;
      }

      button {
        z-index: 2;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
//                    MOBILE / PORTRAIT                           //
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
@media (orientation: portrait) {
  .App {
    .all-container {
      button {
        font-size: 1.9rem;
        border-radius: 1vw;
      }
      .sticky-nav {
        font-size: 2rem;

        button {
          margin-top: 1vh;
          height: 8vh;
          background-color: rgba(255, 255, 255, 0.35);
        }

        .addsong-container {
          margin-top: calc(#{$topbar-height-mob} - 2vh);

          .addsong-controls {
            height: auto;
            padding-bottom: 2vh;
            padding-left: 3vw;
            font-size: 1.3rem;

            //UPLOAD FROM DISK
            #uploadfile-input {
              width: 90vw;
            }

            #ytdl-input {
              width: 90vw;
              margin: 0 0 0 2vw;
            }
            input {
              font-size: 1.5rem;
            }
          }
        }

        #playqueue {
          padding-top: calc(#{$topbar-height-mob} - 2.3vh);
          height: auto;
          width: auto;
          max-width: 100vw;
          margin-left: 0vw;
          font-size: 1.2rem;
          text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000,
            0 0 10px #000000;
          background: linear-gradient(
            -1deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1)
          );
          display: flex;
          flex-direction: column;
          z-index: 9999;

          .queue-container {
            display: flex;
            flex-direction: row;
          }

          .queue-song-container {
            max-width: 86vw;
          }

          .delete-queue-hamburger {
            width: 6vw;
            height: auto;
            display: flex;

            padding-bottom: 0px;
            padding-left: 1vw;
            padding-right: 1vw;
          }
          //ei hover vaan aina rastina ku ei kännyköissä ole hoveria
          .delete-queue-hamburger {
            aside {
              &:first-child {
                height: 3px;
                background-color: crimson;
                transform: rotate(45deg) scale(1.2);
              }

              &:last-child {
                height: 3px;

                background-color: crimson;
                transform: translateY(-3px) rotate(-45deg) scale(1.2);
              }
            }
          }
        }

        .search-input {
          font-size: 1.1rem;

          background-color: rgba(255, 255, 255, 0.65);

          top: calc(#{$topbar-height-mob} - 12vh);

          right: 18vw;
          border-radius: 1vw;
          width: 12vw;
          height: 6vh;

          color: black;

          z-index: 99;
        }

        .search-input:hover {
          right: 4vw;
          top: calc(#{$topbar-height-mob} - 3vh);

          background-color: rgba(255, 255, 255, 0.85);

          width: 93vw;
          font-size: 3rem;
        }

        #logout-button {
          border-radius: 1vw;

          height: 6vh;

          font-size: auto;

          top: calc(#{$topbar-height-mob} - 13vh);

          z-index: 99;

          right: 4vw;
          width: 12vw;
        }

        .topbar {
          height: $topbar-height-mob;

          margin-top: 0vh;
          height: 12vh;

          padding-top: 1vh;
          display: flex;
          align-items: flex-start;
          min-height: 5.5rem;

          #songname-topbar {
            height: $topbar-height-mob;
            min-height: 5.5rem;
          }

          #songname-fade-left {
            height: $topbar-height-mob;
          }

          .progressbar-container {
            height: $topbar-height-mob;

            .progressbar {
              height: calc(#{$topbar-height-mob} - 3vh);
            }
          }
        }

        .topbar-fade-down {
          opacity: 0;
        }
      }
    }

    .songs-container {
      margin-top: calc(#{$topbar-height-mob} - 3vh);
    }
  }
}

///////////////////////////////////////////////////////
//                                                   //
//                  4k support                       //
//                                                   //
///////////////////////////////////////////////////////
@media screen and (min-width: 2100px) {
  .all-container {
    button {
      border-radius: 0.2vw;
    }

    .sticky-nav {
      .topbar {
        .progressbar-container {
          .progressbar {
            border-radius: 0.6vw;
          }
        }
      }
    }

    .songs-container {
      .singlesong-container {
        .make-next-button {
          border-radius: 0.15vw;
        }
      }
    }
  }
}
