$transition-a: all 0.4s ease;
$border-radius-a: 1vh;
$topbar-height: 4.35rem;
$topbar-height-mob: 15vh;
$login-between-delay: 0.15s; // delay * vuoronumero
$login-start-animations: sign-in-fade 0.2s ease forwards;
